$headerHeight : 20px;

.CustomSelect{
	flex: 1 0 100%;
	position: relative;
	height: $headerHeight;

	&--opened{

		.CustomSelect_select{
			max-height: 999px;
			border: 1px solid grey;
			border-top: none;
		}
	
	}

}

// its stupid, but idk how use bem with multiple modifier paired with scss
.CustomSelect--clickable.CustomSelect--opened{
	.CustomSelect_header{
		border-bottom: 1px solid dashed;
	}
}

.CustomSelect_header{
	user-select: none;
	position: absolute;
	width: 100%;
	height: $headerHeight;
	line-height: $headerHeight;
	background: transparent;
	text-align: left;
	overflow: hidden;
	padding: 0 5px;


	&--clickable{
		cursor: pointer;
		background: white;
		border: 1px solid grey;
	}

	&:hover{
		.CustomSelect_button{
			background: lighten(green, 60%);
		}
	}
}

.CustomSelect_button{
	cursor: pointer;
	user-select: none;
	position: absolute;
	right: 0;
	top: -1px; // 
	width: $headerHeight;
	height: $headerHeight;
	line-height: $headerHeight;
	text-align: center;
	overflow: hidden;
	border-left: 1px solid grey;
	box-sizing: border-box;
	transition: .5s;

	&::before{
		content: 'V';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 1;
		transition: .5s;
	}

	&::after{
		content: '\039b'; 
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: .5s;
	}

	

	&--opened{
		&::before{
			opacity: 0;
		}

		&::after{
			opacity: 1;
		}
	}
}


.CustomSelect_select{
	max-height: 0;
	width: 100%;
	margin: 0;
	margin-top: $headerHeight;
	padding: 0;
	position: absolute;
	background: white;
	overflow: hidden;
	border: none;
}

.CustomSelect_option{
	cursor: pointer;
	user-select: none;
	padding: 2px 10px;

	&:hover{
		background: lighten(grey, 40%);
	}

	&--selected{
		background: lighten(grey, 30%);
		cursor: default;
	}
}
